<div style="display: flex; align-items: center; padding: 0px 25px">
  <h1
    style="
      color: white;
      height: 38px;
      margin: 22px 0;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    "
  >
    {{ title }}
  </h1>
  @if (authService.token$ | async) {
    <div
      style="
        display: flex;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3);
        background-color: white;
        margin-left: auto;
      "
    >
      <button
        class="submit-btn"
        style="
          margin-left: auto;
          padding: 0 10px;
          color: red;
          font-weight: normal;
          display: flex;
          align-items: center;
          gap: 5px;
        "
        (click)="logOut()"
      >
        <mat-icon>lock_icon</mat-icon>
        Log Out
      </button>
    </div>
  }
</div>
