#quote-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 25px 25px 0;

  @media only screen and (min-height: 391px) {
    // 82px (header) - 25px (padding)
    height: calc(100dvh - 107px);
  }

  // iPhone 12-14
  @media only screen and (min-width: 390px) and (max-width: 844px) {
    width: 80%;

    @media (orientation: landscape) {
      height: calc(100dvw - 107px);
    }

    @media (orientation: portrait) {
      height: calc(100dvh - 107px);
    }
  }

  @media screen and (min-width: 845px) {
    width: 40%;
  }
}
